:root {
  /* Definição de variáveis de cores que podem ser reutilizadas em todo o CSS */
  --background-body: #E5E5E5;  /* Cor de fundo do corpo */
  --background-content: #1D1D1D;  /* Cor de fundo para conteúdo */
  --text-color: #292929;  /* Cor principal do texto */
  --primary-color: #4DFF7C;  /* Cor primária usada para elementos importantes como botões */
  --second-color: #89DDFF;  /* Cor secundária usada em botões e outros elementos */
}

body {
  /* Configurações globais para o corpo da página */
  margin: 0;  /* Remove a margem padrão do body */
  font-size: 1rem;  /* Define o tamanho padrão da fonte */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; /* Fontes seguras e modernas */
  -webkit-font-smoothing: antialiased;  /* Suaviza as fontes em navegadores WebKit */
  -moz-osx-font-smoothing: grayscale;  /* Suaviza as fontes em sistemas macOS */
  background-color: var(--background-body);  /* Usa a variável para o fundo do body */
  color: var(--text-color);  /* Usa a variável para a cor do texto */
}

header {
  /* Estilos do cabeçalho da página */
  position: fixed;  /* Fixa o header no topo da página */
  width: 100%;  /* Largura completa */
  height: 3.5rem;  /* Altura definida para o header */
  top: 0px;  /* Alinha no topo */
  left: 0px;  /* Alinha à esquerda */
  background-color: var(--background-content);  /* Cor de fundo do header */
  color: var(--background-body);  /* Cor do texto do header */
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);  /* Adiciona uma sombra sutil */
  z-index: 10;  /* Define a prioridade de empilhamento do header */
}

.header__content {
  /* Container do conteúdo dentro do header */
  max-width: 1280px;  /* Limita a largura máxima */
  padding: 0 1rem;  /* Espaçamento horizontal */
  margin: auto;  /* Centraliza o conteúdo */
  display: flex;  /* Usa flexbox para organizar os itens */
  justify-content: space-between;  /* Espaça os itens nas extremidades */
  align-items: center;  /* Alinha os itens verticalmente */
  position: relative;  /* Posição relativa para ajustes internos */
  height: 3.5rem;  /* Altura igual à do header */
}

.logo {
  /* Estilos para o logo no header */
  font-size: 20px;  /* Tamanho da fonte */
  display: flex;  /* Usa flexbox */
  gap: 0.5rem;  /* Espaçamento entre os itens */
  align-items: center;  /* Alinha os itens verticalmente */
  color: var(--background-body);  /* Cor do texto */
}

main {
  /* Estilos principais para o conteúdo */
  width: 80%;  /* Largura do conteúdo */
  margin: auto;  /* Centraliza o conteúdo */
  margin-bottom: 3rem;  /* Espaçamento inferior */
  margin-top: 4.5rem;  /* Espaçamento superior, abaixo do header */
  padding: 2rem;  /* Espaçamento interno */
  /* Fundo e sombra foram comentados, mas poderiam ser aplicados para estilizar o fundo do main */
  border-radius: 3px;  /* Bordas suavizadas */
}

form {
  /* Estilos para o formulário */
  width: fit-content;  /* Largura ajustada ao conteúdo do formulário */
  margin: auto;  /* Centraliza o formulário */
}

input, select {
  /* Estilos para campos de input e seleção */
  border: none;  /* Remove bordas padrão */
  border-radius: 3px;  /* Bordas suavizadas */
  padding: 6px;  /* Espaçamento interno */
  margin: 0 6px;  /* Espaçamento horizontal */
}

h3 {
  /* Estilos para o título h3 */
  text-align: center;  /* Centraliza o texto */
  margin-top: 0;  /* Remove margem superior */
}

button {
  /* Estilos para botões */
  background-color: var(--second-color);  /* Cor de fundo secundária */
  color: var(--text-color);  /* Cor do texto */
  border: none;  /* Remove borda */
  cursor: pointer;  /* Mostra um cursor de ponteiro ao passar o mouse */
  border-radius: 3px;  /* Bordas arredondadas */
  font-weight: bold;  /* Texto em negrito */
}

.buttons {
  /* Contêiner para botões */
  width: 100%;  /* Largura total */
  display: flex;  /* Usa flexbox */
  justify-content: space-around;  /* Espaça igualmente os botões */
  gap: 0.5rem;  /* Espaçamento entre os botões */
}

.btn-submit {
  /* Estilos específicos para o botão de envio */
  background-color: var(--primary-color);  /* Cor de fundo primária */
  padding: 6px 12px;  /* Espaçamento interno */
  cursor: pointer;  /* Cursor de ponteiro */
  font-weight: bolder;  /* Texto ainda mais destacado em negrito */
}

button:hover, .btn-submit:hover {
  /* Efeito de hover (passar o mouse) nos botões */
  opacity: 0.8;  /* Reduz a opacidade para dar um efeito visual */
}

.all-users {
  /* Seção de usuários, com espaçamento superior */
  margin-top: 3rem;
}

.titles, .row {
  /* Estilos para títulos e linhas de conteúdo */
  width: 100%;  /* Largura total */
  display: flex;  /* Usa flexbox */
  text-align: center;  /* Centraliza o texto */
}

.titles {
  /* Estilos para a linha de títulos */
  font-weight: bold;  /* Negrito */
  background-color: var(--text-color);  /* Fundo na cor do texto */
  color: var(--background-body);  /* Texto na cor do fundo do body */
}

.titles div, .row input, .row select, .row div {
  /* Estilos para colunas, inputs e selects dentro das linhas */
  width: 20%;  /* Largura de cada item */
  padding: 0.5rem;  /* Espaçamento interno */
}

.hide-form {
  /* Classe para esconder o formulário */
  display: none;  /* Esconde o formulário */
}

@media screen and (max-width: 920px) {
  /* Estilos para telas menores que 920px */
  main {
    width: 90%;  /* Ajusta a largura para ocupar mais espaço */
  }
}

@media screen and (max-width: 520px) {
  /* Estilos para telas menores que 520px */
  main {
    width: 100%;  /* Ocupa toda a largura da tela */
  }
}
